{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/bare.css' %}">
<script src="{% static 'js/bare.js'%}"></script>
<script src="{% static 'js/axios.js'%}"></script>
<script src="{% static 'js/petite-vue.js'%}"></script>
{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('pyarn.org') }}</a></div>
{% endblock %}

{% block usertools %}
<div id="user-tools">
    <a href="{%url 'pylon:moby_index'%}">Docker Swarm</a> |
    <a href="{%url 'pylon:kubic_index'%}">Kubernetes</a>
</div>
{% endblock %}
